body {
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    background-color: lightgray;
    width: 600px;
    height: 455px;
    padding: 10px;
}

.hidden {
    display:none;
}

.shown {
    display: block;
}

#heroSelect {
    background-image: url(../images/heroBG.gif);
    z-index: 5;
}

[id^="heroID"] {
margin: 9.7px;
padding-top: 25px;
-webkit-filter: drop-shadow(1px -7px 7px #4286f4);  

}

#enemySelect { 
    background-image: url(../images/enemyBG.gif);
    /* z-index: 4; */
 }


[id^="enemyID"] {
    margin: 9.7px;
    padding-top: 25px;
    -webkit-filter: drop-shadow(1px -7px 7px #dd2323);  
}


    
.gameArea {
    background-color: lightgray;
    padding-top:10px;
    height: 375px;
    width: 598px;
    position: static;       
        /* maybe this is absolute */
    top: 20px;
    border-style: solid;
    border-color: white;;
    border-width: 1px;
    background-size:  cover;
    background-position: -50px 0px;
}

.gameArea h1, h2 {
    text-align: center;
    text-shadow: 4px 4px 3px #4f4f4f;    
}

.gameArea h3 {
    text-align: center;
    text-shadow: 2px 2px 2px #4f4f4f;    
}
 
#encounter {
    background-color: black;
    padding-top:10px;
    width: 620px;
    height: 475px;
    position: absolute;
    top: 9px;
    left: 9px;
    /* z-index: 3; */
    background-image: url(../images/encounter.gif);
    background-size: cover;
    background-position: -90px 0px;
}

#encounterImg {
    /* margin: 0 auto; */
    position: relative;
    top: 20px;
    right: -192px;
    -webkit-filter: drop-shadow(1px -7px 7px #dd2323);

}

#encounterWords {
    text-align: center;
    text-shadow: 4px 4px 3px #4f4f4f; 
}
/* =======maybe just do this in JS? and put the image there in enemyEncounter */



#arena {
    background-image: url(../images/arenaBG.gif);
    background-size: cover;
    /* z-index: 2; */
}

#winOrLose {
    background-image: url(../images/victory.gif);
    /* z-index: 1; */
}

h1, h2, h3 {
    color: white;
    
}

/* #enemyArenaElement {
    position: absolute;
    top: 50px;
    right: 75px;
    display: inline;
} */

#enemyImg {
    -webkit-filter: drop-shadow(1px -7px 7px #dd2323);
    position: fixed;
    top: 60px;
    right: 125px;
}

#enemyHP {
    position: fixed;
    bottom: 513px;
    left: 260px;
    display: inline;
}

/* #heroArenaElement {
    position: absolute;
    top: 250px;
    right: 375px;
    display: inline;
} */

#heroImg {
    -webkit-filter: drop-shadow(1px -7px 7px #4286f4);
    position: fixed;
    bottom: 212px;
    left: 90px;
}

#heroHP {
    position: fixed;
    bottom: 293px;
    left: 80px;
    display: inline;
}

#attack-btn {
    position: fixed;
    top: 413px;
    left: 272px;
    padding: 2em;
    text-align: center;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    background-color: #e29631;
    box-shadow: 4px 4px 4px grey
}
.attack-btn:hover {
    border-style: solid;
    border-width: 3px;  
    font-weight: bolder;
    background-image: url(../images/dynamic.gif);
    box-shadow: 2px 2px 2px grey

}

/* ==================SELECT CHAR===== */






/* ======================== */



.enemyAnimIn {

    -webkit-transition: .02s ease-in-out;
    -moz-transition: .02s ease-in-out;
    -o-transition: .02s ease-in-out;
    transition: .02s ease-in-out;
    
  }
  .enemyAnimIn:hover {
    -webkit-transform: translate(-17em,13em);
    /* -moz-transform: translate(-17em,13em);
    -o-transform: translate(-17em,13em);
    -ms-transform: translate(-17em,13em);
    transform: translate(-17em,13em); */

    /* -webkit-transform: scale(1.3); */
    /* WANT TO MAKE THEM BIG/SMALL ON TACKLE */
  }

  /* .enemyAnimOut {

    -webkit-transition: .25s ease-in-out;
    -moz-transition: .02s ease-in-out;
    -o-transition: .02s ease-in-out;
    transition: .02s ease-in-out;
  }
  .enemyAnimOut:hover {
    -webkit-transform: translate(2em,-2em);
    -moz-transform: translate(2em,-2em);
    -o-transform: translate(2em,-2em);
    -ms-transform: translate(2em,-2em);
    transform: translate(2em,-2em);
  } */


  /* =========KEEP THIS -- THIS WAS MY TESTING======== */
  /* .enemyAnimIn {

    -webkit-transition: .05s ease-in-out;
    -webkit-transform: translate(2em,-2em);
    /* -webkit-transition: .05s ease-in-out; */
    
    /* -moz-transition: .05s ease-in-out;
    -o-transition: .05s ease-in-out; */
    /* transition: .05s ease-in-out; */
  /* } */
  /* .enemyAnimIn:hover { */
    /* -webkit-transform: translate(-2em,2em); */
    
    /* -moz-transform: translate(-2em,2em);
    -o-transform: translate(-2em,2em);
    -ms-transform: translate(-2em,2em); */
    /* transform: translate(-2em,2em); */
  /* } */

  /* .enemyAnimOut { */

    /* -webkit-transition: .05s ease-in-out; */
    /* -moz-transition: .05s ease-in-out;
    -o-transition: .05s ease-in-out; */
    /* transition: .05s ease-in-out; */
  /* } */
  /* .enemyAnimOut:hover { */
    /* -webkit-transform: translate(2em,-2em); */
    /* -moz-transform: translate(2em,-2em);
    -o-transform: translate(2em,-2em);
    -ms-transform: translate(2em,-2em); */
    /* transform: translate(2em,-2em);
  } */ 
