body {
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    background-color: lightgray;
    width: 600px;
    height: 455px;
    padding: 10px;
}

h1, h2, h3, h4 {
    color: white;
    
}

h3, h4 {
    text-shadow: 2px 2px 2px #4f4f4f;    
}

.hidden {
    display:none;
}

#heroSelect {
    background-image: url(../images/heroBG.gif);
    z-index: 5;
}

[id^="heroID"] {
margin: 9.7px;
padding-top: 25px;
-webkit-filter: drop-shadow(1px -7px 7px #4286f4);  
}

#enemySelect { 
    background-image: url(../images/enemyBG.gif);
}

[id^="enemyID"] {
    margin: 9.7px;
    padding-top: 25px;
    -webkit-filter: drop-shadow(1px -7px 7px #dd2323);  
}

.gameArea {
    background-color: lightgray;
    padding-top:10px;
    height: 375px;
    width: 598px;
    position: static;       
    top: 20px;
    border-style: solid;
    border-color: white;;
    border-width: 1px;
    background-size:  cover;
    background-position: -50px 0px;
}

.gameArea h1, h2 {
    text-align: center;
    text-shadow: 4px 4px 3px #4f4f4f;    
}

.gameArea h3 {
    text-align: center;   
}

#encounter {
    background-color: black;
    padding-top:10px;
    width: 620px;
    height: 475px;
    position: absolute;
    top: 9px;
    left: 9px;
    background-image: url(../images/encounter.gif);
    background-size: cover;
    background-position: -90px 0px;
}

#encounterImg {
    /* margin: 0 auto; */
    position: relative;
    top: 20px;
    right: -192px;
    -webkit-filter: drop-shadow(1px -7px 7px #dd2323);
}

#encounterWords {
    text-align: center;
    text-shadow: 4px 4px 3px #4f4f4f; 
}

#arena {
    background-image: url(../images/arenaBG.png);
    background-size: 816px 580px;
}

#heroHPBar {
    width: 17em;
    box-sizing: none;
}

#enemyImg {
    -webkit-filter: drop-shadow(1px -7px 7px #dd2323);
    position: absolute;
    top: 230px;
    left: 465px;
}

#enemyHUD {
    position: absolute;
    top: 29px;
    left: 32px;
    display: inline;
}


#enemyHPBar {
    width: 17em;
    box-sizing: none;
}

#heroImg {
    -webkit-filter: drop-shadow(1px -7px 7px #4286f4);
    position: absolute;
    top: 302px;
    left: 102px;
}

#heroHUD {
    position: absolute;
    top: 344px;
    left: 375px;
    display: inline;
}

#heroHPBar {
    position: absolute;
    top: 344px;
    left: 340px;
}

#attack-btn {
    position: absolute;
    top: 444px;
    left: 282px;
    padding: .5em;
    text-align: center;
    margin: 0 auto;
    border-style: solid;
}

.on {
    border-width: 3px;  
    font-weight: bold;
    border-color: black;
    background-color: #e29631;
    box-shadow: 4px 4px 4px grey;
    background-image: url(../images/dynamic.gif);
}

.off {
    border-width: 1px;  
    font-weight: bold;
    border-color: black;
    background-color: #917a5b;
    box-shadow: 2px 2px 2px grey;
    background-image: none;
}

#narrator {
    position: absolute;
    top: 393px;
    left: 165px;
}

.win {
    background-image: url(../images/victory.gif);
}

.loss {
    background-image: url(../images/loss.gif);
}

.heroTackle {
    -webkit-transform: translate(19em, -3em);
}

.enemyTackle {
    -webkit-transform: translate(-18em, 2em);
}

#heroDMG {
    position: absolute;
    top: 254px;
    left: 95px;
}

#enemyDMG {
    position: absolute;
    top: 190px;
    left: 451px;
}
